/* FUENTES*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*ESTILOS GENERALES DE LA WEB*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
}

/*CABECERA--LOGO--MENU*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 600ms;
    padding: 40px 100px;
    z-index: 100000;
    
}

#header.sticky{
    padding: 5px 100px; 
    background: #ffffff;
}

.logo img{
    width: 100px;
}

#header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    position: relative;
    list-style: none;
    
}
#header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

#header.sticky ul li a{
    color: #000;
    
}

img.logo-invertido{
    filter: invert(100%);
}



/*ANIMACION UNDERLINE*/

a.left:before {    
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.left:hover:before { 
    visibility: visible;
    width: 100%;
}


a.underline-invertido:before{
    background-color: #000;
}

/*SLIDER*/

#c-slider{
    margin: 0px auto;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#slider{
    display: flex;
    width: 100%;
}

#img-slider{
    width: 100%;
}

#slider img{
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    transition: 4s;
}

#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #ccc;
    text-decoration: none;
}

#btn-prev{
    left: 10px;
}

#btn-next{
    right: 10px;
}

#btn-prev:hover, #btn-next:hover{
    background: rgb(0, 0, 0, .5);
    transition: .7s;
}

section.fade{
    animation-name: fade !important;
    animation: 3s;
}
@keyframes fade {
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

/*APARTADO 1*/

#enlace-menu-1{
    padding: 70px;
}

#menu-1{
    display: flex;
    background-color: rgb(41, 40, 40);
    padding: 40px;
    margin: 10px;
}

#menu-1 #nosotros{
    width: 100%;
    color: #fff ;
    padding: 10px;
}

#nosotros h2{
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
}

#menu-1 #logo-filosofia{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-filosofia img{
    padding: 50px;
    width: 500px;
    
}



/*APARTADO 2*/

#enlace-menu-2{
    padding: 15px;
}

#menu-2{
    width: 100%;
    margin-top:50px;
    padding: 10px;
}

#menu-2 h2{
    display: block;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    
}


#artistas{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 480px;
    padding: 30px;
    background-color: rgb(41, 40, 40);
    justify-content: space-evenly;
}


.animado{
    width: calc(100%/5);
    height: 100%;
    opacity: 0;
    transition: all .3s;
}

.animado img{
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    object-fit: cover;
    transition: all .3s;
}

.info{
    position: relative;
    bottom: 20%;
    transform: translateY(-50%);
	display:block;
    margin:0 auto;
    padding: 5px;
}

.info span{
	display:block;
	width:90%;
    font-weight:bold; 
    color:#efefef; 
    font-size:35px;
}

.info strong{
	display:block;
	width:90%;
	font-weight:400;
	font-style:italic; color:#8c8c8c; font-size:15px;
}


/*BOTON ANIMADO*/


.animado button{
	margin:0 auto;
	width:auto;
	height:auto;
	line-height:auto;
	background:rgba(0,0,0,.5);
	color: #444444;
	font-weight:bold;
	font-size:25px;
	font-weight:bold;
	display:block;
	position:relative;
	text-align:center;
	padding:.3em .6em .3em .6em;
    top:10%;
    left: 85px;
    bottom: 50px;
    border: none;
    cursor: pointer;
}

.animado:hover button{
	color:#eeeeee;
	background:#000;
    opacity: 1;
	transition:all .8s ease-out;
}

.animado button:hover{
	background:rgba(0,160,160,.9);
	transition:all .4s ease-out;
}

/*IMAGEN ANIMCACION*/

.animado:hover img{
    filter: brightness(100%);
}
.animado:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    cursor: pointer;
}


.animado h3{
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}


.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);

    }
    100%{
        transform: translateY(0);
    }
}

/*APARTADO 3*/

#enlace-menu-3{
    padding: 15px;
}
#menu-3{
    width: 100%;
    margin-top:50px;
    padding: 10px;
}

#menu-3 h2{
    display: block;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    
}

#trabajos{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(41, 40, 40);
    justify-content: center;
    padding: 10px;
}

.article{
    display: block;
    width: calc(100%/4);
    height: 264px;
    padding: 10px;
}

.article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    
}
.article img:hover{
    transform: scale(1.05);
    filter: grayscale(50%);
    transition: all .3s;
}


/*EFECTO LIGHTBOX*/

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 5%;
    left: 0;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move{
    transform: translateX(0);
}

.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show{
    transform: scale(1);
}

.bx.bx-x{
    position: absolute;
    color: white;
    top: 10%;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


/*PIE DE PAGINA
#footer{
    width: 100%;
    height: 385px;
    background-color: black;
    color: white;
    overflow: hidden;
}

#footer .wrap > div{
    float: left;
    width: 330px;
    height: 370px;
    margin: 50px;
    text-align: center;
}

#footer li a{
    text-decoration: none;
    list-style: none;
    color: aqua;
}


#footer h5{
    font-size: 30px;
    background-color: white;
    color: black;
    border-radius: 4px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#footer ul li{
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px;

}

#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms;
}
#footer ul li:hover a{
    padding-left: 20px;
    color: white;
}

#footer iframe{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 5px white;
    box-shadow: 0px 0px 5px gray;
}

#footer p{
    color: white;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
}



*/