/* FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*ESTILOS GENERALES DE LA WEB*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
}


/*CABECERA--LOGO--MENU*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 600ms;
    padding: 40px 100px;
    z-index: 9;
}

#header.sticky {
    padding: 5px 100px;
    background: #ffffff;
    z-index: 11;
}

.logo img {
    width: 100px;
    outline: none;
}

#header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    position: relative;
    list-style: none;
}

#header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

#header.sticky ul li a {
    color: #000;
}

img.logo-invertido {
    filter: invert(100%);
}


/*ANIMACION UNDERLINE*/

a.left:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

a.underline-invertido:before {
    background-color: #000;
}


/*SLIDER*/

#c-slider {
    margin: 0px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#slider {
    display: flex;
    width: 100%;
}

#img-slider {
    width: 100%;
}

#slider img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 4s;
}

#botones {
    display: flex;
}

#btn-prev,
#btn-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #ccc;
    text-decoration: none;
    z-index: 10;
}

#btn-prev {
    left: 10px;
}

#btn-next {
    right: 10px;
}

#btn-prev:hover,
#btn-next:hover {
    background: rgb(0, 0, 0, .5);
    transition: .7s;
}

section.fade {
    animation-name: fade !important;
    animation: 3s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}


/*APARTADO 1*/

#enlace-menu-1 {
    padding: 50px;
}

#menu-1 {
    display: flex;
    background-color: rgb(41, 40, 40);
    padding: 40px;
    margin: 10px;
}

#menu-1 #nosotros {
    width: 100%;
    color: #fff;
    padding: 10px;
}

#nosotros h2 {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;
}

#menu-1 #logo-filosofia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-filosofia img {
    padding: 50px;
    width: 500px;
}


/*APARTADO 2*/

#enlace-menu-2 {
    padding: 15px;
}

#menu-2 {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}

#menu-2 h2 {
    display: block;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

#artistas {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 480px;
    padding: 30px;
    background-color: rgb(41, 40, 40);
    justify-content: space-evenly;
}

.animado {
    width: 30%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
}


/* .animado img {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    object-fit: cover;
    transition: all .3s;
} */

#artistas .foto-artista1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/artista1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 35%;
    object-fit: cover;
}

#artistas .foto-artista2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/artista2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 30%;
    object-fit: cover;
}

#artistas .foto-artista3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/artista3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    object-fit: cover;
}

.info {
    position: relative;
    bottom: 20%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.info span {
    display: block;
    width: 90%;
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    text-shadow: 0px 1px 3px black;
}

.info strong {
    display: block;
    width: 90%;
    font-weight: 500;
    font-style: italic;
    color: gray;
    font-size: 15px;
}


/*BOTON ANIMADO*/

.animado button {
    margin: 0 auto;
    width: auto;
    height: auto;
    line-height: auto;
    background: rgba(0, 0, 0, .5);
    color: #444444;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    display: block;
    position: relative;
    text-align: center;
    padding: .3em .6em .3em .6em;
    top: 10%;
    left: 35%;
    bottom: 25px;
    border: none;
    cursor: pointer;
    outline: none;
}

.animado:hover button {
    color: #eeeeee;
    background: #000;
    opacity: 1;
    transition: all .8s ease-out;
}

.animado button:hover {
    background: rgba(0, 160, 160, .9);
    transition: all .4s ease-out;
}


/*IMAGEN ANIMCACION*/

.animado:hover img {
    filter: brightness(100%);
}

.animado:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.animado h3 {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.mostrarArriba {
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}


/*APARTADO 3*/

#enlace-menu-3 {
    padding: 15px;
}

#menu-3 {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}

#menu-3 h2 {
    display: block;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

#trabajos {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(41, 40, 40);
    justify-content: center;
    padding: 10px;
}

.article {
    display: block;
    width: calc(100%/4);
    height: 264px;
    padding: 10px;
}

.article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.article img:hover {
    transform: scale(1.05);
    filter: grayscale(50%);
    transition: all .3s;
}


/*EFECTO LIGHTBOX*/

.container-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move {
    transform: translateX(0);
}

.img-show {
    position: relative;
    top: 8%;
    width: 50%;
    justify-content: center;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show {
    transform: scale(1);
}

.bx.bx-x {
    position: absolute;
    color: white;
    top: 19%;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


/*MENU 4 - CONTACTO*/

#enlace-menu-4 {
    padding: 10px;
}

#contactoTitulo {
    display: block;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 70px;
}

#menu-4 {
    width: 100%;
    padding: 10px;
}

.sombra {
    display: flex;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 2px #ccc;
    background-color: rgb(41, 40, 40);
}

#informacion {
    min-width: 215px;
    width: 30%;
    height: auto;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 20px;
}

#informacion h3 {
    margin-bottom: 15px;
    text-align: center;
}

#informacion ul {
    list-style: none;
}

#formulario {
    width: 100%;
    color: white;
}

#formulario h3 {
    margin-top: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
}

#formulario form>* {
    padding: 10px
}

#formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#formulario form .block {
    grid-column: 1/3;
}

.form p button,
.form p input,
.form p textarea {
    width: 100%;
    padding: 5px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.form p button {
    background-color: #d63031;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.form p button:hover {
    background-color: #ac212d;
}


/* PIE DE PAGINA */

#footer {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

#footer .wrap-superior {
    padding: 20px;
    display: flex;
}

#footer .formato {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}

#footer #redes-sociales ul,
#menu-footer ul {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}

#footer #redes-sociales ul li a,
#menu-footer ul li a {
    justify-content: center;
}

#footer .wrap-superior #logo-footer img {
    width: 150px;
}

#footer ul {
    display: flex;
    list-style: none;
}

#footer ul li {
    margin-right: 10px;
}

#footer ul li a {
    text-decoration: none;
    color: #fff;
}

#redes-sociales ul li a {
    margin-right: 40px;
    font-size: 30px;
}

#redes-sociales ul li a :hover {
    color: red;
    transition: all 0.3s;
}

#menu-footer ul li a {
    color: #fff;
}

#menu-footer ul li a:hover {
    color: red;
    transition: all 0.4s;
}

#redes-sociales ul li:last-child {
    margin-right: 0px;
}

.hr {
    display: block;
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border: none;
    background: linear-gradient(to right, rgba(20, 20, 20, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(20, 20, 20, 1) 100%);
}

#derechos {
    width: 100%;
}

#derechos span {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}


/*MEDIQ QUERY*/

@media (max-width: 1006px) {
    #header {
        padding: 40px 12px;
    }
    #header.sticky {
        padding: 5px 12px;
    }
    #menu-1 {
        flex-flow: column;
    }
    .img-show {
        width: 75%;
    }
}

@media (max-width: 982px) {
    .animado {
        width: 100%;
        height: 30%;
        object-fit: cover;
    }
    .animado button {
        bottom: 65px;
    }
}

@media (max-width: 813px) {
    #header {
        display: block;
        padding: 20px;
        max-width: 100vw;
    }
    #header div a img {
        display: block;
        margin: 0px auto;
        width: 100px;
    }
    #btn-prev,
    #btn-next {
        top: 250px;
    }
    .article {
        width: calc(100%/2);
    }
    #footer .wrap-superior {
        flex-direction: column;
        align-items: center;
    }
    #footer #redes-sociales ul,
    #menu-footer ul {
        flex-wrap: nowrap;
    }
    #footer #redes-sociales,
    #footer #menu-footer,
    #footer #logo-footer {
        padding: 10px;
    }
    .img-show {
        width: 80%;
    }
    .bx.bx-x {
        top: 25%;
        right: 10px;
    }
}

@media (max-width: 670px) {
    #btn-prev,
    #btn-next {
        top: 150px;
    }
    #header ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    #header ul li a {
        margin: 0 15px;
        padding: 5px;
        letter-spacing: 1px;
        font-weight: 500px;
        transition: 0.6s;
    }
    #menu-1 {
        padding: 10px;
    }
    #logo-filosofia img {
        width: 100%;
    }
    .sombra {
        flex-flow: column wrap;
    }
    #informacion {
        width: 100%;
    }
}

@media( max-width: 500px) {
    .article {
        width: 100%;
    }
    .info span {
        font-size: 20px;
    }
    .info strong {
        display: block;
        width: 90%;
        font-weight: 400;
        font-style: italic;
        color: #8c8c8c;
        font-size: 15px;
    }
    #menu-footer ul {
        flex-wrap: wrap;
    }
    #menu-footer ul li {
        width: 100%;
    }
    #menu-footer ul li a {
        display: block;
        text-align: center;
    }
    #redes-sociales ul li a {
        margin: 5px;
    }
    .img-show {
        width: 90%;
    }
    .bx.bx-x {
        top: 32%;
        right: 10px;
    }
    #header {
        position: absolute;
    }
    #header.sticky {
        background: none;
    }
    #header.sticky ul li a {
        color: white;
    }
    img.logo-invertido {
        filter: invert(0%);
    }
}